.hero-container {
    padding-top: 200px;
    width: 1200px;
    margin: 0 191px; 
    position: relative;
    
  }
  .hero-block {
    
  }
  .hero {
    
    

  }
  .hero-title {
    color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 100.8px */

  }
  .Hero_img{
    width: 1200px;
    height: 600px;
    padding-top: 45px;
  }
  .nav-button { 
    display: none;
    margin-top: 50px;
    
        }
    .nav-button .button {
      color: var(--Grayscale-White, #FFF);
      text-align: center;
      
      font-family: Montserrat;
      font-size: 14px;
      font-style: medium;
      font-weight: 400;
      line-height: 160%;
    }
  .line {
    position: absolute;
    
   top: 250px;
    right: 0;
    
  }
  /* создал и спозиционировал билборд */
  .billboard {
    
    border: 1px solid; 
    border: #2C3878;
    background-color: #2C3878;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   position: absolute;
    
   top: 335px;
    right: 140px;
  }
  .billboard_p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding: 25px;
  }
  .billboard-title { color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
  }
.billboard-text {
  color: var(--Grayscale-White, #FFF);
text-align: center;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;

}
@media screen  and (max-width:1279px) and (min-width:768px) {
  .hero-container {
    padding-top: 100px;
    width: 734px;
    margin: 0 50px; 
   }
   .hero-title {
    
font-size: 40px;
padding-bottom: 161px;}

.Hero_img{
  width: 734px;
  height: 400px;
  -o-object-fit:fill;
     object-fit:fill;
  
}
.line hr { 
  width:335px;}
  .line{
  
 top: 130px;
  right: 0;  
}

.billboard-title { 
  font-size: 40px;   
    }
    .billboard-text {    
    font-size: 16px;  
    }
    .billboard {
      position: absolute; 
      width: 236px;
      height: 159px;
      top: 335px;
       left: 500px;
     }
     }
  


  @media screen  and (max-width:767px) {
    .hero-title br {
      display: none;
    }
    
    
       .hero-container {
        padding-top: 120px;
        width: 345px;
        margin: 0 15px; 
        
       }
       .hero-title {
        
    font-size: 24px;
    }
    .nav-button { 
      display: inline-block;
      padding-top: 20px;
          }
    .Hero_img{
      width: 345px;
      height: 200px;
      -o-object-fit:fill;
         object-fit:fill;
      
    }
    .line hr { 
      display: none;}
      .line{
      
     top: 130px;
      right: 0;  
    }
    .billboard {
      width: 125px;
      height: 89px;  
     -webkit-box-orient: horizontal;  
     -webkit-box-direction: normal;  
         -ms-flex-direction: row;  
             flex-direction: row; 
     left: 220px;
     top: 232px;
    }
    .billboard_p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     padding: 5px;
    }
    .billboard-title { 
      font-size: 20px;   
        }
        .billboard-text {    
        font-size: 10px;  
        
        }
    
  }