/* стили для main */

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    
    
  }
  
  .container {
    width: 1200px;
    margin: 0 191px;
    
  }
  a:visited {
    color: inherit;}

    /* стили для heaedr */


  
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: white;
    backdrop-filter: blur(13px);
  }
  
  /* сделали строчный режим */
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
  }
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    width: 575px;
  }
  li {
    color: var(--Grayscale-50, #333);
/* Montserrat/Regular/16 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
  }

  .nav-img {
    display: none;
  }
   a { 
    text-decoration:none ;
    
}
.log {
  color: var(--Grayscale-Black, #000);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Montserrat;
font-size: 31.93px;
font-style: normal;
font-weight: 700;
line-height: 170%;
}
  .button {
    display: inline-flex;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--Grayscale-30, #3C3C3C);
    background: var(--Primary-Blue-100, #2C3878);
   
  }
  .button_num {
    color: var(--Grayscale-White, #FFF);
    /* Montserrat/Medium/14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150% 
    
  }
  /* задал ширину для контента и границы контейнера.
  определил ,как опорный элемент для позиционирования */
  
  .hero-container {
    padding-top: 200px;
    width: 1200px;
    margin: 0 191px; 
    position: relative;
    
  }
  
  
    
    .nav-button { 
display: none;
padding-top: 20px;
    }
.nav-button .button {
  color: var(--Grayscale-White, #FFF);
  text-align: center;
  
  font-family: Montserrat;
  font-size: 14px;
  font-style: medium;
  font-weight: 400;
  line-height: 160%;
}
  
  .hero-title {
    color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 100.8px */

  }
  .Hero_img{
    width: 1200px;
    height: 600px;
    padding-top: 45px;
  }
  .line {
    position: absolute;
    
   top: 250px;
    right: 0;
    
  }
  /* создал и спозиционировал билборд */
  .billboard {
    
    border: 1px solid; 
    border: #2C3878;
    background-color: #2C3878;
    display: flex;
  justify-content: center;
   flex-direction: column;
   align-items: center;
   position: absolute;
   width: 252px;
   top: 335px;
    right: 140px;
  }
  .billboard_p {
    display: flex;
  justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 25px;
  }
  .billboard-title { color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
  }
.billboard-text {
  color: var(--Grayscale-White, #FFF);
text-align: center;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;

}


.project-container {
  padding-top: 100px;
    width: 1200px;
    margin: 0 191px; 
  position: relative;  
}
.project-line {
  position: absolute;
  top: 110px;
  right: 555px;
}
.project-beginning {
  color: var(--Grayscale-Black, #000);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
text-transform: uppercase;

}
.project-title{
  color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 50.4px */
padding-top: 20px;
}
.project-text {
 
  color: var(--Grayscale-10, #9C9C9C);
/* Montserrat/Regular/18 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
width: 654px;
padding-top: 55px;
}


/* стили для бордер флекс */
.project-item {
  display: flex;  
  align-items: center;
  padding: 0 10px;
  padding-bottom: 20px;
}
.project-Flex {
  border: 1px solid; 
    border: #2C3878;
    background-color: #2C3878;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.text-item {
  color: var(--Grayscale-White, #FFF);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%;
padding-left: 30px;
width: 333px;
}
.second-project-text h4 {
  width: 634px;
  color: var(--Grayscale-10, #9C9C9C);
/* Montserrat/Regular/18 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left:30vw;
}
.button-text {
  color: var(--Grayscale-White, #FFF);
/* Montserrat/Medium/14 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
}
.project-container .button {
  margin-left: 480px;
  margin-top: 20px;

}
.img-section {
  width: 100%;
  margin: 100px 0;
}
.second_img {
  width: 100%;
}

/* задаем стили грид -блоку  INF */

.infrastructure-container {
  width: 1200px;
    margin: 0 191px; 
  position: relative;
}
.infrastructure-beginning {
  color: var(--Grayscale-Black, #000);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
text-transform: uppercase;
padding-bottom: 250px;
}
.infrastructure-title {
  color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
padding-bottom: 40px;
padding-top: 20px;
}
.infrastructure-line {
  position: absolute;
  top: 10px;
  right:505px;
}

.infrastructure-grid-item {
  position: relative;
}
.grid-text-item {
  position: absolute;
  left: 17px;
  bottom: 35px;
  color: var(--Grayscale-White, #FFF);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%;
width: 233px;
}
.grid-text-item-first {
  position: absolute;
  left: 17px;
  bottom: 35px;
  color: var(--Grayscale-White, #FFF);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%;
width: 395px;
}


.infrastructure-grid {
  display: grid;
  grid-template-columns: 30fr 30fr 30fr ;
  grid-column-gap: 10px;
  grid-row-gap: 10px ;
  
}

.infrastructure-grid-item img {
  width: 99%;
  height: 100%;
  object-fit:cover;
}
.infrastructure-grid-item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.infrastructure-grid-item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.infrastructure-grid-item:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.infrastructure-grid-item:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.infrastructure-grid-item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.infrastructure-grid-item:nth-child(6) {
  grid-column: 4/5;
  grid-row: 2/3;
}


/* iiiiiiii блок ABOUT */


.detail-container {
  width: 1200px;
    margin: 0 191px; 
  position: relative;
  margin-top: 100px;
  padding-bottom: 100px;
}
.detail-beginning {
  color: var(--Grayscale-Black, #000);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
text-transform: uppercase;

}

.detail-line {
  position: absolute;
  top: 10px;
  right:555px;
}
.detail-title {
  color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
padding-bottom: 40px;
padding-top: 20px;

}
.detail-list li {
  color: var(--Grayscale-10, #9C9C9C);
/* Montserrat/Regular/18 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left: 27px;

}
.detail-list {
  margin-bottom: 80px;
}
  

.button_download {
  color: var(--Grayscale-White, #FFF);
/* Montserrat/Medium/14 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;

}
.detail-img_PDF {
  position: absolute;
  top: 150px;
  right: 420px;
}
/* -----------FOOTER------- */


.footer {
  background-color: #2C3878;
}
.footer-container {
  width: 1200px;
    margin: 0 191px; 
  
  margin-top: 100px;
  padding-top: 130px;
  padding-bottom: 50px;
}
.flex-box-text {
  color: var(--Grayscale-White, #FFF);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 120%; 
width: 576px;
padding-bottom: 230px;
}
.footer-l .БK {
  color: var(--Grayscale-White, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
  
  
}

.footer-tel {
  color: var(--Grayscale-White, #FFF);
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
padding-right: 55px;
}

/* задаем флек в футоре */
form input {
  display: block;
  width: 334px;
height: 50px;
border-color: #FFF;
margin-bottom: 20px;
margin-bottom: 20px;

background-color: #2C3878;
}
::placeholder {
  color: var(--Grayscale-White, #ffffff);

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
padding-left: 20px;
}
form button {
  display: inline-flex;
padding: 14px 32px;
align-items: flex-start;
gap: 10px;
background: var(--Grayscale-White, #FFF);
 border-style:none ;
}
.button_text {
  color: var(--Grayscale-Black, #000000);

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}

.flex-box1 {
  display: flex;
  justify-content: space-between;
}
.flex-box2 {
  display: flex;
  justify-content: space-between;
}
.footer-flex-box {
  display: flex;
  flex-direction: column;
}


  /* адаптация /* header */
   
  @media screen  and (max-width:1279px) and (min-width:768px) {   
    

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      width: 734px;  
      margin:0 50px;
    margin-left: -140px;
  }
  .header-nav {width: 480px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
  }
  .el-nav strong {
    display: none;
  }
  li {
    font-size: 14px;
  }
  .log {
  
  font-size: 20px;
 
  }
  .button {
    
    padding: 12px 20px;
   
  }

   /* адаптация /* hero */

   .hero-container {
    padding-top: 100px;
    width: 734px;
    margin: 0 50px; 
   }
   .hero-title {
    
font-size: 40px;
padding-bottom: 161px;}

.Hero_img{
  width: 734px;
  height: 400px;
  object-fit:fill;
  
}
.line hr { 
  width:335px;}
  .line{
  
 top: 130px;
  right: 0;  
}
.billboard {
  width: 734px;
  height: 159px;  
 flex-direction: row; 
 left: 0;
 top: 315px;
}
.billboard-title { 
  font-size: 40px;   
    }
    .billboard-text {    
    font-size: 16px;  
    
    }

    /* ;;;;;;;;;;;;;;;;;;;;;;;; */
    
    .project-container {
      padding-top: 80px;
        width: 734px;
        margin: 0 50px;        
    }
      
    .project-line {
      position: absolute;
      top: 90px;
      right: 100px;
    }
    .project-title{
    
    padding-top: 20px;
    }
    .project-text {
   
    width: 654px;
    padding-top: 55px;
    }

    .project-Flex {
      
        display: flex;
        flex-direction: column;
        padding: 45px;
        padding-bottom: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .second-project-text h4 {
     
    margin-left:0vw;
    }
    .project-container .button {
      margin-left: 0px;     
    
    }
    .img-section {
      width: 834px;
      margin: 80px 0;
    }
    .second_img {
      width: 834px;
      
    }


    /* адаптация блока INF */

    .infrastructure-container {
      width: 734px;
        margin: 0 50px; 
      
    }
    .infrastructure-line hr {
      width: 473px;
    }
    .infrastructure-line {
      
      top: 10px;
      right:90px;
    }
    .infrastructure-grid {
      display: grid;
      grid-template-columns: 38fr 38fr  ;
      grid-column-gap: 10px;
      grid-row-gap: 10px ;
     
    }
    
      .infrastructure-grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }  
    .infrastructure-grid-item:first-child {
      grid-column: 1/3;
      grid-row: 1/2;
     

    }
    .infrastructure-grid-item:nth-child(2) {
      grid-column: 1/2;
      grid-row: 3/5;
      
    }
    
    .infrastructure-grid-item:nth-child(4) {
      grid-column: 1/2;
      grid-row: 2/3;
      

    }
    
    .infrastructure-grid-item:nth-child(5) {
      grid-column: 2/3;
      grid-row: 2/3;
     

    }
    
    .infrastructure-grid-item:nth-child(3) {
      grid-column: 2/3;
      grid-row: 3/4;
      

    }
    .infrastructure-grid-item:nth-child(6) {
      grid-column: 2/3;
      grid-row: 4/5;
      

    }
    /* адаптация   ABOUT */

    .detail-container {
      width: 734px;
        margin: 0 50px; 
     
      margin-top: 80px;
      padding-bottom: 80px;
    }
    .detail-line {
      
      top: 10px;
      right:90px;
    }
    .detail-img_PDF {
    width: 113px;
    height: 113px;
      top: 170px;
      right: 60px;
    }


    /* адаптация блока footer */

    .footer-container {
      width: 734px;
        margin: 0 50px; 
      
      margin-top: 80px;
      padding-top: 100px;
      padding-bottom: 40px;
    }
    
    .flex-box1 {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-bottom: 80px;
    }
    .flex-box2 {
      padding-bottom: 40px;
    } 
    .flex-box-text {
     
    width: 576px;
    padding-bottom: 70px;
    }
    
  }
    @media screen  and (max-width:767px) {
      .content-container {
        width: 745px;
        margin: 0 15px;
        
      }
      header {
        width: 90vw;  
      }
      
        .header-container {
        
        
          display: flex;
          justify-content: space-around;
          
          height: 60px;
          width: 240px;  
          margin:0 15px;
          margin-left: -125px;
    }

    .header-nav {width: 100%; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin: 0;
      margin-left: 0;
    }
    .log {
     width: 147px;
      font-size: 20px;
      display: inline;
    }
    .header-nav .button_num  {
      display: none;
    }

    .nav-img {
      display: block;
    }
    .el-nav {
      display: none;
    }
     /* адаптация /* hero */
.hero-title br {
  display: none;
}

.nav-button { 
  display: inline-block;
  padding-top: 20px;
      }
   .hero-container {
    padding-top: 120px;
    width: 345px;
    margin: 0 15px; 
   }
   .hero-title {
    
font-size: 24px;
padding-bottom: 60px;}

.Hero_img{
  width: 345px;
  height: 200px;
  object-fit:fill;
  
}
.line hr { 
  display: none;}
  .line{
  
 top: 130px;
  right: 0;  
}
.billboard {
  width: 345px;
  height: 89px;  
 flex-direction: row; 
 left: 0;
 top: 237px;
}
.billboard_p {
  display: flex;
justify-content: center;
 flex-direction: column;
 align-items: center;
 padding: 5px;
}
.billboard-title { 
  font-size: 20px;   
    }
    .billboard-text {    
    font-size: 10px;  
    
    }


      /* ;;;;;;;;;;;;;;;;;;;;;;;; */
    
      .project-container {
        padding-top: 80px;
          width: 345px;
          margin: 0 15px;        
      }
      .project-line hr {
        width: 267px;
      }  
      .project-line {
        position: absolute;
        top: 90px;
        right: 0px;
      }
      .project-title{
        color: var(--Grayscale-50, #333);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 50.4px */
padding-top: 20px;
      }
      .project-title br {
        display: none;
      }
      .project-beginning {
        color: var(--Grayscale-Black, #000);
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      text-transform: uppercase;
      
      }
      .project-text {
        font-size: 15px;
      width: 300px;
      padding-top: 30px;
      }
  
      .project-Flex {
        
          display: flex;
          flex-direction: column;
          padding: 15px;
         padding-bottom: inherit;
          margin-top: 80px;
          margin-bottom: 80px;
      }
      .project-Flex img {
        width: 20%;
        height: 20%;
        object-fit: cover;
      }
      .text-item {
        font-size: 16px;
        padding-left: 30px;
        width: 200px;
      }
      .second-project-text h4 {
        font-size: 18px;
      margin-left:0vw;
      width: 300px;
      }
      .project-container .button {
        margin-left: 0px;     
      
      }
      .img-section {
        width: 375px;
        
  margin: 100px 0;
      }
      .second_img {
        width: 375px;
        height: 250px;;
        object-fit: cover;
        
      }
     /* адаптация блока INF */
     .infrastructure-container {
      width: 345px;
        margin: 0 15px; 
      
    }
    .infrastructure-beginning {
     
    font-size: 12px;
 
    padding-bottom: 250px;
    }
    .infrastructure-line hr {
      width: 222px;
    }
    .infrastructure-line {
      
      top: 10px;
      right:0px;
    }
    .infrastructure-title {
    
    font-size: 20px;
     
    padding-bottom: 40px;
    padding-top: 20px;
    }
    .infrastructure-grid {
      display: grid;
      grid-template-columns: 38fr ;            
      grid-column-gap: 10px;
      grid-row-gap: 10px ;
     
    }
    
      .infrastructure-grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }  
    .infrastructure-grid-item:first-child {
      grid-column: 1/2;
      grid-row: 1/2;
     

    }
    .infrastructure-grid-item:nth-child(2) {
      grid-column: 1/2;
      grid-row: 4/6;
      
    }
    
    .infrastructure-grid-item:nth-child(4) {
      grid-column: 1/2;
      grid-row: 2/3;
      

    }
    
    .infrastructure-grid-item:nth-child(5) {
      grid-column: 1/2;
      grid-row: 3/4;
     

    }
    
    .infrastructure-grid-item:nth-child(3) {
      grid-column: 1/2;
      grid-row: 6/7;
      

    }
    .infrastructure-grid-item:nth-child(6) {
      grid-column: 1/2;
      grid-row: 7/8;
      

    }
     /* адаптация   ABOUT */

     .detail-container {
      width: 345px;
        margin: 0 15px; 
     
      margin-top: 80px;
      padding-bottom: 80px;
    }
    .detail-line hr {
      width: 265px;
    }

    .detail-line {
      
      top: 12px;
      right:0px;
    }
    .detail-beginning {
   
    font-size: 12px; 
    
    }
    .detail-title {
    
    font-size: 20px;
   
    padding-bottom: 40px;
    padding-top: 20px;
    
    }
    .detail-list li {
   
    font-size: 16px;
   
    line-height: 160%;
    margin-left: 27px;
    
    }
    .detail-img_PDF {
    width: 113px;
    height: 113px;
     
    }
    .detail-list {
      margin-bottom: 180px;
    }
    .detail-img_PDF {
      position: absolute;
      top: 265px;
      left: 0px;
    }


    
    /* адаптация блока footer */
    
    .footer-container {
      box-sizing: border-box;
      width: 349px;
        margin: 0 13px; 
      
      margin-top:0px;
      padding-top: 0px;
      padding-bottom: 20px;
     
    }
   
    .footer-flex-box {
      padding-top: 170px;
    }
    .flex-box1 {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-bottom: 50px;
    }
    .flex-box2 {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-bottom: 20px;
    } 
    .flex-box-text {
     
    
    padding-bottom: 20px;
    width: 347px;
    }
    .footer-flex-box {
      display: flex;
      flex-direction: column;
      /* margin-left: -175px; */
      
    }
    .flex-box1 h2 {
      width: 347px;
      font-size: 20px;
      padding-bottom: 50px;
     margin-top: 0px;
    }
    .footer-l .БK {
      
      font-size: 24px;
     
      
    }
    .flex-box-text {
      
    padding-bottom: none;
    padding-top: none ;
    }
    .footer-tel {
      
    font-size: 24px;
    padding-right: 0px;
    }
    
  }
  